[Desktop Entry]
Name=The Witcher 3 Wild Hunt GOTY
Exec=flatpak run --command=/app/bin/faugus-run io.github.Faugus.faugus-launcher --game the-witcher-3-wild-hunt-goty
Icon=/home/wehttamsnaps/.var/app/io.github.Faugus.faugus-launcher/config/faugus-launcher/icons/the-witcher-3-wild-hunt-goty.ico
Type=Application
Categories=Game;
Path=/run/media/wehttamsnaps/Wettam-Snaps-Main/Games/The Witcher 3 Wild Hunt GOTY/bin/x64_dx12
